*{
    margin: 0;
    padding: 0;
}

body{
    transition: 0.5sec;
}

.container{
    position: absolute;
    top: 30%;
    right: 35%;
}

.box{
    display: block;
    border-radius: 10px;
    background-color: white;
    height: 30vh;
    width: 30vw;
}

.box h2{
    position: absolute;
    bottom: 55%;
    right: 42%;
    color: black;
}

#btn{
    /* background-color: grey; */
    height: 50px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 90px;
    margin-left: 143px;
}